*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.zoom-image {
    animation: zoom 20s infinite; 
  }
  
  
  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
 
  .carousel-item {
    height: 70vh; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .carousel:hover .zoom-image {
    animation-play-state: paused;
  }

  .display-3{
    color: black;
  }

  .hover-grow {
    transition: all 0.3s ease;
  }
  
  .hover-grow:hover {
    transform: scale(1.05);
  }


  .card{
    overflow: hidden; 
  }

  .btn:hover{
    background-color: white;
    border-color: black;
    border-radius: 10px;
    color: black;
  }

